*
!jest.config.js
!.eslintignore
!.eslintrc.js
!.prettierignore
!.prettierrc
!.prettierrc.cjs
!.npmrc
!package*.json
!src
!public
!yarn.lock
!.lintstagedrc
!vite.config.ts
!.eslintrc.cjs
!tsconfig.json
!tsconfig.node.json
!index.html
